# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/

# others
/*/mongo/
/*/*/mongo/

/*/activemq-data/
/*/*/activemq-data/

/*/log/
/*/*/log/

#Java
*.class

#bin folders
bin