<h2>Tasks <a class="btn btn-default pull-right" href="#/task/create"><i
        class="icon-plus-sign icon-white"></i> Create Task</a></h2>

<table class="table table-hover">
    <tr>
        <th class="col-md-1">Id</th>
        <th class="col-md-2">Date Submitted</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Tag</th>
        <th class="col-md-1">Severity</th>
        <th class="col-md-3">Content</th>
        <th class="col-md-2">Assigned SCU</th>
    </tr>
    <tr ng-repeat="task in tasks | orderBy:'id':true">
        <td>{{task.id}}</td>
        <td>{{task.timeCreated}}</td>
        <td>{{task.name}}</td>
        <td>{{task.tag}}</td>
        <td>{{task.severity}}</td>
        <td>{{task.content}}</td>
        <td><button class="btn btn-link btn-xs" ng-click="$location.path('/collective/' + task.collectiveId)">SCU #{{task.collectiveId}}</button></td>
    </tr>
    <tr ng-show='is_loading'><td colspan='7'><span ng-bind-html="Util.spinner()"></span></td></tr>
</table>