<div ng-if="!showUnitGenerators && !showTaskGenerators && !showTaskDetail && !showUnitDetail">

    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-default pull-right" ng-click="unitGeneratorList()">Unit
                Generator
            </button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary pull-left" ng-click="taskGeneratorList()">Task Generator
            </button>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="col-sm-9">
                <select id="graph-x-axis" ng-model="graph.xAxis" class="form-control">
                    <option disabled selected value="">Please select a xAxis value</option>
                    <option>clock</option>
                    <option>task_id</option>
                </select>

                <select id="graph-y-axis" ng-model="graph.yAxis" class="form-control">
                    <option disabled selected value="">Please select a yAxis value</option>
                    <option>algo_time</option>
                    <option>objective_value</option>
                    <option>cost</option>
                    <option>norm_cost</option>
                    <option>competency</option>
                    <option>connectedness</option>
                    <option>mu_connectedness</option>
                    <option>response_time</option>
                    <option>norm_response_time</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button type="submit" accesskey="S" class="btn btn-primary pull-right" ng-click="startSimulation()">Start
                    Simulation
                </button>
            </div>

        </div>
    </div>




</div>

</div>

<div>

</div>
<div ng-if="showTaskGenerators || showUnitDetail || showTaskDetail || showUnitGenerators">

    <div class="row">
        <div class="col-sm-8">
            <button accesskey="C" type="submit" class="btn btn-primary btn-danger pull-right" ng-click="backToHome()">
                Back
            </button>
        </div>
        <div class="col-sm-4" ng-if="!showTaskGenerators && !showUnitGenerators && (showTaskDetail || showUnitDetail)">
            <button accesskey="S" type="submit" class="btn btn-primary btn-success pull-left"
                    ng-click="saveTaskOrUnit()">
                Save
            </button>
        </div>
    </div>

</div>

<div ng-if="!showTaskGenerators && !showUnitDetail && !showTaskDetail && showUnitGenerators">
    <ng-include src=" 'views/simulation/unit-list.html' "></ng-include>
</div>

<div ng-if="!showUnitGenerators && !showUnitDetail && !showTaskDetail && showTaskGenerators">
    <ng-include src=" 'views/simulation/task-list.html' "></ng-include>
</div>

<div ng-if="!showTaskGenerators && !showUnitGenerators && !showTaskDetail && showUnitDetail">
    <ng-include src=" 'views/simulation/unit-detail.html' "></ng-include>
</div>

<div ng-if="!showTaskGenerators && !showUnitGenerators && !showUnitDetail && showTaskDetail">
    <ng-include src=" 'views/simulation/task-detail.html' "></ng-include>
</div>