<div class="row">
    <h2>GRAPH</h2>
</div>
<div class="col-md-6">

    <div class="form-group">


        <div class="col-md-7">
            <select id="simulation-select" ng-change="copyFileToTemp()" ng-model="simulationSelected"
                    ng-options="simulation.timeCreated for simulation in simulations" class="form-control">
                <option disabled value="">Please select a simulation</option>
            </select>
        </div>

    </div>
</div>

<div ng-if="simulationSelected">

    <div class="col-sm-9">
        <select id="graph-x-axis" ng-model="graph.xAxis" class="form-control">
            <option disabled selected value="">Please select a xAxis value</option>
            <option>clock</option>
            <option>task_id</option>
        </select>

        <select id="graph-y-axis" ng-model="graph.yAxis" class="form-control">
            <option disabled selected value="">Please select a yAxis value</option>
            <option>algo_time</option>
            <option>objective_value</option>
            <option>cost</option>
            <option>norm_cost</option>
            <option>competency</option>
            <option>connectedness</option>
            <option>mu_connectedness</option>
            <option>response_time</option>
            <option>norm_response_time</option>
        </select>
    </div>

    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary pull-left" ng-click="showGraph()">Plot Graph
        </button>
    </div>

    <div class="col-sm-6">
        <a ng-click="downloadFile()" class="btn btn-primary pull-right" download="file.csv">Download CSV File</a>
    </div>

    <div ng-if="showingGraph" class="row">
        <img ng-change="graph.image" ng-model="graph.image" data-ng-src="data:image/png;base64,{{graph.image}}"
             data-err-src="images/png/avatar.png"/>
    </div>
</div>