<div class="row">
    <h3>Task List</h3>
    <br/>

    <table class="table table-hover">
        <tr>
            <th class="col-md-1">Index</th>
            <th class="col-md-11">Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="task in tasks | orderBy:'$index':true"
            ng-click="taskDetail($index)">
            <td>{{$index + 1}}</td>
            <td>{{task.name}}</td>
            <td>
                <button ng-click="deleteTask($index)" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>

    <a data-toggle="modal" data-target="#modalTaskCreate"><i class="glyphicon glyphicon-plus"></i></a>

    <!-- Modal task create -->
    <div class="modal fade" id="modalTaskCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTaskCreateLabel">Add Task</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="task-name" class="col-sm-3 control-label">Name : </label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="task-name"
                                       placeholder="Enter task name"
                                       ng-model="addTask.name">
                            </div>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createTask()" data-dismiss="modal">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal task create -->


</div>