<div class="row">
    <h3>Units Generator Configuration for <u>{{unitGeneratorName}}</u></h3>
    <br/>

    <form class="form-horizontal">
        <!--
        <div class="form-group">
            <label for="unit-generator-name" class="col-sm-2 control-label">Unit Generator Name : </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="unit-generator-name" placeholder="Enter Generator Name"
                       ng-model="unitGeneratorName">
            </div>
        </div>
        todo @karaoglan gerek var mi sor -->
        <div class="form-group">
            <label for="unitName" class="col-sm-2 control-label">Unit Name : </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="unitName" placeholder="Enter Unit Name (namePrefix)"
                       ng-model="temporaryUnit.namePrefix">
            </div>
        </div>
        <div class="form-group">
            <label for="number-of-elements" class="col-sm-2 control-label">Number of Units : </label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="number-of-elements" placeholder="Enter number of elements"
                       ng-model="temporaryUnit.numberOfElements">
            </div>
        </div>

        <div class="form-group">
            <label for="unit-seed" class="col-sm-2 control-label">Seed : </label>

            <div class="col-sm-10">
                <input type="text" disabled class="form-control" id="unit-seed" placeholder="Enter seed"
                       ng-model="temporaryUnit.seed">
            </div>
        </div>

        <hr/>

    </form>

    <h4>Services Provided</h4>

    <table id="provided-table" class="table table-condensed table-hover" style="margin-bottom: 5px;">
        <tr>
            <th class="col-md-2">Functionality</th>
            <th class="col-md-1">Probability</th>
            <th class="col-md-0.5">Add</th>
            <th class="col-md-8">Private Properties</th>
            <th></th>
        </tr>
        <tr ng-repeat="service in temporaryUnit.providedServices | orderBy:'$index':true">
            <td>{{service.functionality}}</td>
            <td>{{service.probabilityToHave}}</td>
            <td>
                <button data-toggle="modal" data-target="#modalPrivatePropertyAdd"
                        ng-click="openAddPropertyModalForIndex($index)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </td>
            <td>
                <span ng-repeat="property in service.properties" class="label label-info list-info">
			        {{property.name}}/{{property.type}}/{{property.value}}
			    </span>

            </td>
            <td>
                <button ng-click="deleteService($index)" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>

    <!-- modal add private property for service -->
    <div class="modal fade" id="modalPrivatePropertyAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalPrivatePropertyLabel">Add Property</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="private-property-name" class="col-sm-3 control-label">Name : </label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="private-property-name"
                                       placeholder="Enter Property Name"
                                       ng-model="privateProperty.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="private-property-probability" class="col-sm-3 control-label">Probability
                                : </label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="private-property-probability"
                                       placeholder="Enter the probability"
                                       ng-model="privateProperty.probabilityToHave">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="private-property-type" class="col-sm-3 control-label">Type : </label>

                            <div class="col-md-9">
                                <select id="private-property-type" ng-model="privateProperty.type" class="form-control">
                                    <option disabled selected value="">Please select a Type</option>
                                    <option>static</option>
                                    <option>metric</option>
                                    <option>skill</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="private-property-interface-class" class="col-sm-3 control-label">Class
                                : </label>

                            <div class="col-md-9">
                                <select id="private-property-interface-class" ng-model="privateProperty.interfaceClass"
                                        class="form-control">
                                    <option disabled selected value="">Please select a Class</option>
                                    <option>at.ac.tuwien.dsg.hcu.cloud.monitor.ReliabilityMonitor</option>
                                    <option>
                                        at.ac.tuwien.dsg.hcu.simulation.adapter.gridsim.monitor.GSAvailabilityMonitor
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-value" class="col-sm-3 control-label">Value : </label>
                            <div class="input-group col-md-5 value-add padding-left-15" style="padding-left: 15px;">
                                <input id="add-value" type="text" class="form-control" disabled=""
                                       ng-model="placeholderForPrivateWeight">
                                <span data-toggle="modal" ng-click="addValueForPrivateProperty()" data-target="#modalValueList" class="hover-span input-group-addon">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="savePrivateProperty()" data-dismiss="modal">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- open modal for service provided create 2 field functionality and probability -->
    <a data-toggle="modal" data-target="#modalServiceCreate"><i class="glyphicon glyphicon-plus"></i></a>

    <!-- Modal service create -->
    <div class="modal fade" id="modalServiceCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalServiceCreateLabel">Add Service</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="service-functionality" class="col-sm-3 control-label">Functionality : </label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="service-functionality"
                                       placeholder="Enter Service functionality"
                                       ng-model="providedService.functionality">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="service-probability" class="col-sm-3 control-label">Probability : </label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="service-probability"
                                       placeholder="Enter the probability"
                                       ng-model="providedService.probabilityToHave">
                            </div>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveService()" data-dismiss="modal">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal service create -->

    <hr/>

    <h4>Properties (Common Properties)</h4>
    <table id="common-properties" class="table table-condensed table-hover" style="margin-bottom: 5px;">
        <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-1">Probability to have</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-2">InterfaceClass</th>
            <th class="col-md-0.5">AddValue</th>
            <th class="col-md-5.5">Value</th>
            <th></th>
        </tr>
        <tr ng-repeat="property in temporaryUnit.commonProperties | orderBy:'$index':true">
            <td>{{property.name}}</td>
            <td>{{property.probabilityToHave}}</td>
            <td>{{property.type}}</td>
            <td>{{property.interfaceClass | takeLastWordAfterDot}}</td>
            <td>
                <button data-toggle="modal" ng-click="addValueForCommonProperty($index)" data-target="#modalValueList">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </td>
            <td>{{property.value}}</td>
            <td>
                <button ng-click="deleteProperty($index)" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>

    <!-- open modal for common prop. create 3 field name probability to have and type -->
    <a data-toggle="modal" data-target="#modalPropertyCreate"><i class="glyphicon glyphicon-plus"></i></a>

    <!-- Modal common prop. create -->
    <div class="modal fade" id="modalPropertyCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalPropertyCreateLabel">Add Common Property</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="common-property-name" class="col-sm-3 control-label">Name : </label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="common-property-name"
                                       placeholder="Enter Property Name"
                                       ng-model="commonProperty.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="common-property-probability" class="col-sm-3 control-label">Probability
                                : </label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="common-property-probability"
                                       placeholder="Enter the probability"
                                       ng-model="commonProperty.probabilityToHave">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="common-property-type" class="col-sm-3 control-label">Type : </label>

                            <div class="col-md-9">
                                <select id="common-property-type" ng-model="commonProperty.type" class="form-control">
                                    <option disabled selected value="">Please select a Type</option>
                                    <option>static</option>
                                    <option>metric</option>
                                    <option>skill</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="common-property-interface-class" class="col-sm-3 control-label">Class : </label>

                            <div class="col-md-9">
                                <select id="common-property-interface-class" ng-model="commonProperty.interfaceClass"
                                        class="form-control">
                                    <option disabled selected value="">Please select a Class</option>
                                    <option>at.ac.tuwien.dsg.hcu.cloud.monitor.ReliabilityMonitor</option>
                                    <option>
                                        at.ac.tuwien.dsg.hcu.simulation.adapter.gridsim.monitor.GSAvailabilityMonitor
                                    </option>
                                </select>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveProperty()" data-dismiss="modal">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal property create -->

    <hr/>

    <h4>Connectedness</h4>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="probabilityToConnect" class="col-sm-2 control-label">Probability to connect : </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="probabilityToConnect" placeholder="Enter probability"
                       ng-model="temporaryUnit.connectedness.probabilityToConnect">
            </div>
        </div>

        <div class="form-group">

            <label for="weight" class="col-sm-2 control-label">Weight : </label>

            <div class="col-sm-10 input-width-icon">
                <div class="input-group">
                    <input id="weight" type="text" class="form-control" disabled ng-model="placeholderForWeight"/>
                    <span data-toggle="modal" ng-click="addValueForWeight()" data-target="#modalValueList" class="hover-span input-group-addon">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </span>
                </div>
            </div>
        </div>

        <hr/>

    </form>

    <!-- Modal value list -->
    <div class="modal fade" id="modalValueList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalValueListLabel">Select Value for Weight</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">Distribution</th>
                            <th class="col-md-6">Params</th>
                            <th class="col-md-6">Mapping</th>
                        </tr>
                        <tr ng-repeat="value in temporaryUnitValues | orderBy:'$index':true"
                            ng-click="selectionValue($index)"
                            ng-class="{'selected':selectionValues.indexOf($index) != -1}">
                            <td>{{value.clazz}}</td>
                            <td>{{value.params}}</td>
                            <td>{{value.mapping}}</td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="selectValue()"
                            data-dismiss="modal">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal value list -->


    <h4>Values</h4>

    <table class="table table-condensed table-hover" style="margin-bottom: 5px;">
        <tr>
            <th class="col-md-3">Distribution</th>
            <th class="col-md-3">Params</th>
            <th class="col-md-6">Mapping</th>
            <th></th>
        </tr>
        <tr ng-repeat="value in temporaryUnitValues | orderBy:'$index':true">
            <td>{{value.clazz}}</td>
            <td>{{value.params}}</td>
            <td>{{value.mapping}}</td>
            <td>
                <button ng-click="deleteValue($index)" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>

    <!-- open modal for values param create 4 field clazz param 1 param2 and param3 -->
    <a data-toggle="modal" data-target="#modalValueCreate"><i class="glyphicon glyphicon-plus"></i></a>

    <!-- Modal common prop. create -->
    <div class="modal fade" id="modalValueCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalValueCreateLabel">Add Value</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="select-distro" class="col-sm-3 control-label">Distribution : </label>

                            <div class="col-md-9">
                                <select id="select-distro" class="form-control" ng-model="valueToAdd.clazz">
                                    <option value="" selected disabled>Select Distribution</option>
                                    <option value="UniformIntegerDistribution">Uniform Integer Distribution</option>
                                    <option value="NormalDistribution">Normal Distribution</option>
                                </select>
                            </div>
                        </div>
                        <!-- todo @karaoglan ask are there maximal three param for mapping? -->
                        <div ng-show="valueToAdd.clazz" class="form-group">
                            <label for="params" class="col-sm-3 control-label">Params : </label>

                            <div ng-if="valueToAdd.clazz === 'UniformIntegerDistribution' " class="col-sm-9"
                                 id="params">

                                <input type="text" class="col-sm-3" placeholder="minimum"
                                       ng-model="valueToAdd.params.first">
                                <input type="text" class="col-sm-3" placeholder="maximum"
                                       ng-model="valueToAdd.params.second"><br>
                            </div>

                            <div ng-if="valueToAdd.clazz === 'NormalDistribution' " class="col-sm-9">

                                <input type="text" class="col-sm-3" placeholder="average"
                                       ng-model="valueToAdd.params.first">
                                <input type="text" class="col-sm-3" placeholder="deviation"
                                       ng-model="valueToAdd.params.second">
                                <input type="text" class="col-sm-3" placeholder="precision"
                                       ng-model="valueToAdd.params.third"><br>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="select-mapping" class="col-sm-3 control-label">Mapping : </label>

                            <div class="col-md-9" id="select-mapping">
                                <input type="text" class="col-sm-3" placeholder="first"
                                       ng-model="valueToAdd.mapping.first">
                                <input type="text" class="col-sm-3" placeholder="second"
                                       ng-model="valueToAdd.mapping.second">
                                <input type="text" class="col-sm-3" placeholder="third"
                                       ng-model="valueToAdd.mapping.third"><br>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveValue()" data-dismiss="modal">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal value create -->

    <br/>
    <br/>

</div>
