<h2>HCUs</h2>

<table class="table table-hover">
    <tr>
        <th class="col-md-1">Id</th>
        <th class="col-md-2">Date Assembled</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-3">Task</th>
        <th class="col-md-5">Units</th>
        <th class="col-md-1"></th>
    </tr>
    <tr ng-repeat="collective in collectives | orderBy:'id':true">
        <td>{{collective.id}}</td>
        <td>{{collective.timeCreated}}</td>
        <td><span class="label" ng-class="Util.getStatusClass(collective.status)">{{collective.status}}</span></td>
        <td>
		    <button class="btn btn-default btn-xs span4" ng-click="showTask = !showTask">Task #{{collective.task.id}}</button> 
		    <div ng-hide="!showTask">		    
   				<span class="label label-info span2">Name</span> {{collective.task.name}}<br/>
   				<span class="label label-info span2">Tag</span> {{collective.task.tag}}<br/>
   				<span class="label label-info span2">Severity</span> {{collective.task.severity}}<br/>
   				<span class="label label-info span2">Content</span> {{collective.task.content}}<br/>
      		</div>
        </td>
        <td>
		    <button class="btn btn-default btn-xs span4" ng-click="showPeers = !showPeers">{{collective.assignments.length}} unit(s)</button> 
		    <div ng-hide="!showPeers">
		    	<span ng-repeat="assignment in collective.assignments">		    
     				<span class="label span4" ng-class="Util.getStatusClass(assignment.status)">{{assignment.status}}</span>
     				<span class="label label-info">{{assignment.service}}</span> 
     				by {{assignment.peer.name}}
     				<br/>
     			</span>
      		</div>
        </td>
        <td><button class="btn btn-link btn-xs" ng-click="$location.path('/collective/' + collective.id)">Details</button></td>
    </tr>
    <tr ng-show='is_loading'><td colspan='6'><span ng-bind-html="Util.spinner()"></span></td></tr>
</table>