<h2>Task Generator Rule <a class="btn btn-primary pull-right" href="#/task-rule/create"><i
        class="icon-plus-sign icon-white"></i> Create Rule</a></h2>

<table class="table table-hover">
    <tr>
        <th rowspan="2">Id</th>
        <th colspan="2">Condition</th>
        <th colspan="2">Consequence</th>
    </tr>
    <tr>
        <th>Tag</th>
        <th>Severity</th>
        <th>Required Services</th>
        <th>Load Factor</th>
        <th></th>
    </tr>
    <tr ng-repeat="rule in rules | orderBy:'id':true">
        <td>{{rule.id}}</td>
        <td>{{rule.condition.tag}}</td>
        <td>{{rule.condition.severity}}</td>
        <td>
			<span ng-repeat="service in rule.consequence.requiredServices" class="label label-info list-info">
			{{service}}
			</span>
		</td>
        <td>{{rule.consequence.loadFactor}}</td>
        <td>
	        <button ng-click="deleteRule(rule.id)" type="button" class="btn btn-default btn-xs">
			  <span class="glyphicon glyphicon-trash"></span>
			</button>
        </td>
    </tr>
    <tr ng-show='is_loading'><td colspan='5'><span ng-bind-html="Util.spinner()"></span></td></tr>
</table>