.selected {
     background-color:black;
     color:white;
     font-weight:bold;
}

.input-width-icon {
     width: 51%;
}

.hover-span:hover {
     background-color: lightblue ;
}

.value-add {
     width: 44.666667%;
}

#simulation input, select{
     width: 100% !important;
}

#simulation .btn {
     margin-right: 5px !important;
     margin-bottom: 5px !important;
}

#simulation input{
     margin-bottom: 10px;
}

#simulation select{
     margin-bottom: 10px;
}

.glyphicon-plus-sign {
     font-size: 20px;
}

.value input{
     width: 102.5% !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.padding-left {
     padding-left: 100px !important;
}

#graph-image {
     padding-top: 50px !important;
}

.boxes{
     height: 3% !important;
     min-height: 150px;
}